body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        0deg,
        purple 0%,
        yellow 100%
    );
    font-family: fantasy;
}



h1{
    margin: 10px;
    margin-bottom: 0px;
    font-size: 40px;
}

#bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 800px;
    /* border: 5px;
    border-style: solid;
    border-color: rebeccapurple; */
    background-image: url("./imgs/brickImage.png");
    font-size: xx-large;
}

/* .gameButton{
    cursor: pointer;
    border-radius: 10%;
    background-color: lavenderblush;
    font-size: x-large;
} */

#timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* font-size: large; */
    width: 150px;
}

#lives{
    width: 150px;
    /* makes it not auto-update the width when it changes */
}

#muteButton{
    height: 30px;
    width: 30px;
}


/* CSS  https://getcssscan.com/css-buttons-examples */
.gameButton {
    max-height: 30px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 5px 0px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.gameButton:active,
.gameButton:hover {
  outline: 0;
}
