body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        0deg,
        purple 0%,
        yellow 100%
    )
}

h1{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 40px;
}

#bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 550px;
    /* border: 5px;
    border-style: solid;
    border-color: rebeccapurple; */
    background-image: url("./imgs/brickImage.png");
}
