body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        0deg,
        purple 0%,
        yellow 100%
    );
    font-family: fantasy;
}

h1{
    margin: 10px;
    margin-bottom: 0px;
    font-size: 40px;
}

#bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 1000px;
    /* border: 5px;
    border-style: solid;
    border-color: rebeccapurple; */
    background-image: url("./imgs/brickImage.png");
    font-size: xx-large;
}

.gameButton{
    cursor: pointer;
    /* border-style: inset; */
    border-radius: 10%;
    background-color: lavenderblush;
    font-size: x-large;
}

#timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* font-size: large; */
    width: 150px;
}

#lives{
    width: 150px;
    /* makes it not auto-update the width when it changes */
}
